$flex: flex;
$colorFondo: rgb(134, 203, 240);


.FotoProfes {
    width: 250px;
    height: 250px;
}

.Redes {
    width: 100%;
    display: $flex;
    color: white;
}

.RedImagen {
    width: 25px;
    height: 25px;
    padding: 7px;
}

.BandaNegra {
    background-color: black;
}

.Red {
    padding: 16px;
}

.menu {
    display: $flex;
    list-style-type: none;
    gap: 50px;
    align-items: center;
    color: white;
}

.TituloStaff {
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    background-color: pink;
    padding: 0px 20px;
    margin: 40px auto;
    font-size: 32px;
}

.Profesores {
    display: $flex;
    justify-content: space-between;
    margin: 30px;
    flex-wrap: wrap;
}

.Fondo {
    text-align: center;
    padding: 30px;
}


.footer {
    background-color: black;
    padding-bottom: 3rem;
    p {
      color: pink;
      font-size: 1rem;
    }
  }


.triangulo {
    width: 0;
    height: 0;
    border-left: 50vw solid $colorFondo;
    border-right: 50vw solid $colorFondo;
    border-bottom: 50px solid black;
}

.bg-pink {
    background-color: pink;
}

.titulo-horarios {
    background-color: pink;
    font-family: sans-serif;
    text-align: center;
    margin: 2rem auto;
    text-align: center;
}

.horarios {
    margin: 2rem;
}

.centrar-titulo {
    display: $flex;
    justify-content: center;
}
