body {
    margin: 0;
    padding: 0;
}


/* HEADER  */
.Redes {
    width: 100%;
    display: flex;
    color: white;
    list-style: none;
    justify-content: center;
    
    
}


.BandaNegra {
    background-color: rgba(216, 125, 149, 1);
}

.RedImagen {
    width: 25px;
    height: 25px;
    padding: 7px;
}

.Red {
        padding: 16px;
    }
    
    .menu {
        display: flex;
        list-style-type: none;
        gap: 50px;
        align-items: center;
        color: black;
    }
    
    
    
    
    /* MAIN */
    main {
        background-color: rgb(165, 44, 77, 1);
        display: flex;
        flex-direction: column;
    }
    
    h1 {
        display: flex;
        gap: 50px;
        width: 100%;
    }

    .FotoProfes {
        width: 250px;
        height: 250px;
    }
    
    .Profesores {
        display: flex;
        justify-content: space-between;
        margin: 30px;
        flex-wrap: wrap;
    }
    
    .titulo-horarios {
        background-color: pink;
        font-family: sans-serif;
        text-align: center;
        margin: 2rem auto;
        text-align: center;
    }

    .textoNosotros {
        padding: 40px;
    }

    .infoUl li {
        text-align: center;
        list-style: none;
    }
    
    .mainContacto {
        padding: 40px;
    }
    .card-group {
        padding: 30px;
    }



    /* FOOTER */
    
    
    .footer {
        background-color: rgb(140, 26, 26, 1);
        padding-bottom: 3rem;
    }
    
    .footer > p {
        color: pink;
        font-size: 1rem;
    }








/* a {
    color: rgb(216, 125, 149, 1);
    text-decoration: none;
} */


/* Color Theme Swatches in RGBA */
.spring-background.-fruit-flowers-on-wooden-table-1-rgba { color: rgba(165, 44, 77, 1); }
.spring-background.-fruit-flowers-on-wooden-table-2-rgba { color: rgba(216, 125, 149, 1); }
.spring-background.-fruit-flowers-on-wooden-table-3-rgba { color: rgba(191, 143, 156, 1); }
.spring-background.-fruit-flowers-on-wooden-table-4-rgba { color: rgba(242, 242, 242, 1); }
.spring-background.-fruit-flowers-on-wooden-table-5-rgba { color: rgba(140, 26, 26, 1); }



.fondoCeleste {
    background-color: rgb(165, 44, 77, 1) !important; 
}

p {
    text-align: center;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}



.triangulo {
    width: 0;
    height: 0;
    border-left: 50vw solid rgb(165, 44, 77, 1);
    border-right: 50vw solid rgb(165, 44, 77, 1);
    border-bottom: 50px solid rgb(140, 26, 26, 1);
}

.bg-pink {
    background-color: pink;
}


.horarios {
    margin: 2rem;
}

.ustedes {
    @media screen y m {
        
    }


}

.centrar-titulo {
    display: flex;
    justify-content: center;
}

.expansivo {
    transition: transform 0.5s;
  }
  
  .expansivo:hover {
    transform: scale(1.1);
  }


  .roll-in-left {
	-webkit-animation: roll-in-left 0.6s ease-out both;
	        animation: roll-in-left 0.6s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-8-12 19:0:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  
